.movie-overview {
  background: #fff;
  transition: all 1s;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.movie-overview .has-backdrop {
  opacity: 0.9;
  text-shadow: 1px 2px 1px #000;
  color: #fff;
  min-height: calc(90vh - 55px);
  transition: all 0.5s;
}

.movie-poster {
  max-width: 300px;
  max-height: 450px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.movie-poster img {
  width: 100%;
}
